<a href="https://colab.research.google.com/github/20KMJ/ESAA7/blob/main/1010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 12-2. datetime 오브젝트

> **datetime 라이브러리**
> - date 오브젝트: 날짜 처리
> - time 오브젝트: 시간 처리
> - **datetime** 오브젝트: 날짜 & 시간 처리

## datetime 오브젝트 사용하기

In [ ]:
# datetime 라이브러리 불러오기
from datetime import datetime

In [ ]:
# 현재 시간 출력 (now, today 메서드)
now1 = datetime.now()
print(now1)

now2 = datetime.today()
print(now2)

2022-10-08 19:51:30.165078
2022-10-08 19:51:30.165812

In [ ]:
# 시간을 직접 입력하여 인자로 전달
t1 = datetime.now()
t2 = datetime(1970, 1, 1)
t3 = datetime(1970, 12, 12, 13, 24, 34)

print(t1)
print(t2)
print(t3)

2022-10-08 17:32:01.990890
1970-01-01 00:00:00
1970-12-12 13:24:34

In [ ]:
# 시간 계산 (datetie 오브젝트의 차이 구하기)
diff1 = t1 - t2
print(diff1)
print(type(diff1))

diff2 = t2 - t1
print(diff2)
print(type(diff2))

19273 days, 17:32:01.990890
<class 'datetime.timedelta'>
-19274 days, 6:27:58.009110
<class 'datetime.timedelta'>

## 테슬라 주식 데이터로 시간 계산하기

In [ ]:
# pandas_datareader 라이브러리 설치
! pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Requirement already satisfied: requests>=2.19.0 in c:\python\anaconda3\lib\site-packages (from pandas-datareader) (2.24.0)
Requirement already satisfied: pandas>=0.23 in c:\python\anaconda3\lib\site-packages (from pandas-datareader) (1.1.3)
Requirement already satisfied: lxml in c:\python\anaconda3\lib\site-packages (from pandas-datareader) (4.6.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\python\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\python\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\python\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\python\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2020.6.20)
Requirement already satisfied: numpy>=1.15.4 in c:\python\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\python\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\python\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0

테슬라의 주식 데이터 내려받기

In [ ]:
pd.core.common.is_list_like=pd.api.types.is_list_like
import pandas_datareader as pdr

# tesla에는 데이터 프레임이 저장됨
tesla = pdr.get_data_quandl('TSLA', api_key = '#')

# tesla에 저장된 데이터프레임을 파일로 저장하기
tesla.to_csv('C:/Temp/tesla_stock_quandl.csv')

In [ ]:
# 데이터 살펴보기
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [ ]:
# Date 열을 Datetime 형으로 변환
# parse_dates 인자에 Date열 전달하면 됨
import pandas as pd
tesla = pd.read_csv('C:/Temp/tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        116 non-null    datetime64[ns]
 1   Open        116 non-null    float64
 2   High        116 non-null    float64
 3   Low         116 non-null    float64
 4   Close       116 non-null    float64
 5   Volume      116 non-null    float64
 6   ExDividend  116 non-null    float64
 7   SplitRatio  116 non-null    float64
 8   AdjOpen     116 non-null    float64
 9   AdjHigh     116 non-null    float64
 10  AdjLow      116 non-null    float64
 11  AdjClose    116 non-null    float64
 12  AdjVolume   116 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 11.9 KB
None

In [ ]:
# 2018년 3월 데이터만 추출
print(tesla.loc[(tesla.Date.dt.year == 2018) & (tesla.Date.dt.month == 3)])

         Date    Open    High       Low   Close      Volume  ExDividend  \
0  2018-03-27  304.00  304.27  277.1800  279.18  13696168.0         0.0
1  2018-03-26  307.34  307.59  291.3600  304.18   8324639.0         0.0
2  2018-03-23  311.25  311.61  300.4500  301.54   6600538.0         0.0
3  2018-03-22  313.89  318.82  308.1800  309.10   4914307.0         0.0
4  2018-03-21  310.25  322.44  310.1900  316.53   5927881.0         0.0
5  2018-03-20  314.87  316.25  308.7600  310.55   4726182.0         0.0
6  2018-03-19  316.50  320.75  309.6700  313.56   7440766.0         0.0
7  2018-03-16  325.96  327.40  319.0700  321.35   6058612.0         0.0
8  2018-03-15  329.38  332.85  321.1000  325.60   6366922.0         0.0
9  2018-03-14  336.76  339.81  323.9300  326.63   7932511.0         0.0
10 2018-03-13  344.92  345.12  336.2635  341.84   5932110.0         0.0
11 2018-03-12  328.61  347.21  326.5000  345.51   8212156.0         0.0
12 2018-03-09  324.10  328.49  322.3700  327.17   5479716.0         0.0
13 2018-03-08  332.86  333.30  326.2740  329.10   3476944.0         0.0
14 2018-03-07  325.44  332.50  321.7400  332.30   5007297.0         0.0
15 2018-03-06  333.75  336.37  327.0300  328.20   4285744.0         0.0
16 2018-03-05  332.39  337.75  329.2929  333.35   3823769.0         0.0
17 2018-03-02  326.98  335.22  322.9700  335.12   5092829.0         0.0
18 2018-03-01  345.01  348.67  330.0700  330.93   6885601.0         0.0

    SplitRatio  AdjOpen  AdjHigh    AdjLow  AdjClose   AdjVolume
0          1.0   304.00   304.27  277.1800    279.18  13696168.0
1          1.0   307.34   307.59  291.3600    304.18   8324639.0
2          1.0   311.25   311.61  300.4500    301.54   6600538.0
3          1.0   313.89   318.82  308.1800    309.10   4914307.0
4          1.0   310.25   322.44  310.1900    316.53   5927881.0
5          1.0   314.87   316.25  308.7600    310.55   4726182.0
6          1.0   316.50   320.75  309.6700    313.56   7440766.0
7          1.0   325.96   327.40  319.0700    321.35   6058612.0
8          1.0   329.38   332.85  321.1000    325.60   6366922.0
9          1.0   336.76   339.81  323.9300    326.63   7932511.0
10         1.0   344.92   345.12  336.2635    341.84   5932110.0
11         1.0   328.61   347.21  326.5000    345.51   8212156.0
12         1.0   324.10   328.49  322.3700    327.17   5479716.0
13         1.0   332.86   333.30  326.2740    329.10   3476944.0
14         1.0   325.44   332.50  321.7400    332.30   5007297.0
15         1.0   333.75   336.37  327.0300    328.20   4285744.0
16         1.0   332.39   337.75  329.2929    333.35   3823769.0
17         1.0   326.98   335.22  322.9700    335.12   5092829.0
18         1.0   345.01   348.67  330.0700    330.93   6885601.0

## datetime 오브젝트를 인덱스로 설정해 데이터 추출하기

- `DatetimeIndex`
- datetime 오브젝트를 데이터프레임의 인덱스로 설정하면 원하는 시간의 데이터를 바로 추출할 수 있음.

In [ ]:
# Date 열을 tesla 데이터프레임의 인덱스로 지정
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-10-20', '2017-10-19', '2017-10-18', '2017-10-17',
               '2017-10-16', '2017-10-13', '2017-10-12', '2017-10-11',
               '2017-10-10', '2017-10-09'],
              dtype='datetime64[ns]', name='Date', length=116, freq=None)

In [ ]:
# Error 원인 못 찾음..
print(tesla['2015'].iloc[:5,:5])

AssertionError: <class 'numpy.ndarray'>

In [ ]:
# error 원인 못 찾음...
print(tesla['2010-06'].iloc[:,:5])

AssertionError: <class 'numpy.ndarray'>

## 시간 간격을 인덱스로 지정해 데이터 추출하기

- `TimedeltaIndex`
- 주식 데이터에서 최초 5일간 수집된 데이터만 살펴보고 싶다면 시간 간격을 인덱스로 지정하여 데이터를 추출하면 됨.

In [ ]:
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 169 days
2018-03-26 168 days
2018-03-23 165 days
2018-03-22 164 days
2018-03-21 163 days

In [ ]:
tesla.index = tesla['ref_date']
print(tesla.iloc[:5, :5])

               Date    Open    High     Low   Close
ref_date
169 days 2018-03-27  304.00  304.27  277.18  279.18
168 days 2018-03-26  307.34  307.59  291.36  304.18
165 days 2018-03-23  311.25  311.61  300.45  301.54
164 days 2018-03-22  313.89  318.82  308.18  309.10
163 days 2018-03-21  310.25  322.44  310.19  316.53

In [ ]:
# 데이터를 수집한 이후 최초 5일의 데이터 추출
print(tesla['5 days':].iloc[:5, :5])

               Date    Open    High       Low   Close
ref_date
4 days   2017-10-13  356.98  358.49  353.6800  355.57
3 days   2017-10-12  352.95  359.78  352.6400  355.68
2 days   2017-10-11  353.89  357.60  351.1500  354.60
1 days   2017-10-10  346.80  355.63  345.5305  355.59
0 days   2017-10-09  349.65  351.75  342.6700  342.94

## 시간 범위와 인덱스

- 누락된 데이터도 포함시켜 데이터를 살펴보려면 임의로 시간 번위를 생성하여 인덱스로 지정해야 함

In [ ]:
# 에볼라 데이터
import pandas as pd

ebola = pd.read_csv('C:/Temp/country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5, :5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [ ]:
# 뒤쪽 데이터 확인
print(ebola.iloc[-5:, :5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

In [ ]:
head_range = pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

## 시간 범위의 주기 설정하기

- 시간 범위를 인덱스로 지정하면 DatetimeIndex 자료형이 만들어짐
- DatetimeIndex에는 freq 속성이 포함되어 있음
- freq 속성값을 지정하면 시간 간격을 조절하여 DatetimeIndex를 만들 수 있음

freq 속성값으로 사용할 수 있는 시간 주기

| 시간 주기 | 설명 |
|---|---|
| B | 평일만 포함 |
| C | 사용자가 정의한 평일만 포함 |
| D | 달력 일자 단위 |
| W | 주간 단위 |
| M | 월 마지막 날만 포함 |
| SM | 15일과 월 마지막 날만 포함 |
| BM | M 주기의 값이 휴일이면 제외하고 평일만 포함 |
| CBM | BM에 사용자 정의 평일을 적용 |
| MS | 월 시작일만 포함 |
| SMS | 월 시작일과 15일만 포함 |
| BMS | MS 주기의 값이 휴일이면 제외하고 평일만 포함 |
| CBMS | BMS에 사용자 정의 평일을 적용 |
| Q | 3 .6 , 9, 12월 분기 마지막 날만 포함 |
| BQ | 3. 6, 9. 12월 분기 마지막 날이 휴얼어면 제외하고 평일만 포함 |
| QS | 3. 6, 9, 12월 분기 시작일만 포함 |
| BQS | 3, 6, 9, 12월 분기 시작일어 휴일이면 제외하고 평일만 포함 |
| A | 년의 마지막 날만 포함 |
| BA | 년의 마지막 날이 휴일이면 제외하고 평일만 포함 |
| AS | 년의 시작일만 포함 |
| BAS | 년의 시작일이 휴일이면 제외하고 평일만 포함 |
| BH | 평일을 시간 단위로 포함(09:00 ~ 16:00) |
| H | 시간 단위로 포함(00:00 ~ 00:00) |
| T | 분 단위 포함 |
| S | 초 단위 포함 |
| L | 밀리초 단위 포함 |
| U | 마이크로초 단위 포함 |
| N | 나노초 단위 포함 |

In [ ]:
# 평일만 포함시키기
print(pd.date_range('2017-01-01', '2017-01-07', freq='B'))

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06'],
              dtype='datetime64[ns]', freq='B')